<div class="d-flex my-3">
    <div><a class="btn bg-primary text-white" href="/productos/mostrarProductos">Mostrar productos</a></div>
    <div ><a class="btn ms-2 bg-danger text-white" href="/productos/agregarProducto">Agregar producto</a></div>
</div>